In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("covid_toy.csv")

In [17]:
df.sample(5)

    age  gender  fever   cough       city has_covid
44   20    Male  102.0  Strong      Delhi        No
79   48  Female  103.0    Mild    Kolkata       Yes
10   75  Female    NaN    Mild      Delhi        No
77    8  Female  101.0    Mild    Kolkata        No
67   65    Male   99.0    Mild  Bangalore        No

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [19]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# Fill fever value with avg value of all fever column

In [20]:
# df["fever"].fillna(df["fever"].mean(),inplace=True)

In [21]:
# df.isnull().sum()

In [28]:
X = df.iloc[:,:5]

In [29]:
y=df.iloc[:,-1]

# Before doing anything the best practice is do train_test_split

In [26]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [32]:
X_train.shape,X_test.shape

((70, 5), (30, 5))

In [33]:
X_train

    age  gender  fever   cough       city
36   38  Female  101.0    Mild  Bangalore
31   83    Male  103.0    Mild    Kolkata
11   65  Female   98.0    Mild     Mumbai
23   80  Female   98.0    Mild      Delhi
29   34  Female    NaN  Strong     Mumbai
..  ...     ...    ...     ...        ...
59    6  Female  104.0    Mild    Kolkata
51   11  Female  100.0  Strong    Kolkata
61   81  Female   98.0  Strong     Mumbai
32   34  Female  101.0  Strong      Delhi
92   82  Female  102.0  Strong    Kolkata

[70 rows x 5 columns]

### Another approach is with the help of sklearn

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
si = SimpleImputer()

In [36]:
X_train_fever = si.fit_transform(X_train[["fever"]])
X_test_fever = si.transform(X_test[["fever"]])

In [38]:
X_train_fever.shape,X_test_fever.shape

((70, 1), (30, 1))

In [39]:
X_train_fever

array([[101.        ],
       [103.        ],
       [ 98.        ],
       [ 98.        ],
       [100.76190476],
       [ 99.        ],
       [101.        ],
       [104.        ],
       [104.        ],
       [101.        ],
       [ 99.        ],
       [100.76190476],
       [ 98.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [100.76190476],
       [101.        ],
       [ 99.        ],
       [102.        ],
       [101.        ],
       [102.        ],
       [100.        ],
       [100.        ],
       [ 99.        ],
       [104.        ],
       [103.        ],
       [100.        ],
       [102.        ],
       [101.        ],
       [ 98.        ],
       [104.        ],
       [ 99.        ],
       [103.        ],
       [100.76190476],
       [100.76190476],
       [104.        ],
       [101.        ],
       [104.        ],
       [104.        ],
       [100.76190476],
       [100.76190476],
       [101.        ],
       [101.        ],
       [100.        ],
       [104.        ],
       [100.        ],
       [ 98.        ],
       [ 98.        ],
       [ 99.        ],
       [ 98.        ],
       [102.        ],
       [102.        ],
       [ 98.        ],
       [103.        ],
       [100.        ],
       [ 98.        ],
       [104.        ],
       [101.        ],
       [101.        ],
       [102.        ],
       [100.        ],
       [103.        ],
       [ 98.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [ 98.        ],
       [101.        ],
       [102.        ]])

# -------------------------------------------------------
## ----------------------------------------------------------------
### -----------------------------------------------------------------------------

# ColumnTransFormer
## In one go do everything

In [42]:
X_train

    age  gender  fever   cough       city
36   38  Female  101.0    Mild  Bangalore
31   83    Male  103.0    Mild    Kolkata
11   65  Female   98.0    Mild     Mumbai
23   80  Female   98.0    Mild      Delhi
29   34  Female    NaN  Strong     Mumbai
..  ...     ...    ...     ...        ...
59    6  Female  104.0    Mild    Kolkata
51   11  Female  100.0  Strong    Kolkata
61   81  Female   98.0  Strong     Mumbai
32   34  Female  101.0  Strong      Delhi
92   82  Female  102.0  Strong    Kolkata

[70 rows x 5 columns]

In [45]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [41]:
from sklearn.compose import ColumnTransformer

In [58]:
transformer = ColumnTransformer(transformers=[
    ("tnf1",SimpleImputer(),["fever"]),
    ("tnf2",OneHotEncoder(sparse=False,drop="first"),["gender","city"]),
    ("tnf3",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"])
],remainder="passthrough")

In [59]:
X_train_new = transformer.fit_transform(X_train)

In [60]:
X_test_new = transformer.transform(X_test)

In [63]:
X_train.shape

(70, 5)

In [61]:
X_train_new

array([[101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  38.        ],
       [103.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  83.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  65.        ],
       [ 98.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  80.        ],
       [100.76190476,   0.        ,   0.        ,   0.        ,
          1.        ,   1.        ,  34.        ],
       [ 99.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  65.        ],
       [101.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  14.        ],
       [104.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  56.        ],
       [104.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  54.        ],
       [101.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  47.        ],
       [ 99.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  60.        ],
       [100.76190476,   0.        ,   0.        ,   0.        ,
          1.        ,   1.        ,  20.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   1.        ,   5.        ],
       [ 98.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   1.        ,  23.        ],
       [ 98.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  34.        ],
       [101.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  83.        ],
       [100.76190476,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  84.        ],
       [101.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  19.        ],
       [ 99.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  49.        ],
       [102.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  49.        ],
       [101.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  51.        ],
       [102.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  24.        ],
       [100.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  11.        ],
       [100.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  27.        ],
       [ 99.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  22.        ],
       [104.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  44.        ],
       [103.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  16.        ],
       [100.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  27.        ],
       [102.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  82.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  81.        ],
       [ 98.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  24.        ],
       [104.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  18.        ],
       [ 99.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  65.        ],
       [103.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  48.        ],
       [100.76190476,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  42.        ],
       [100.76190476,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  82.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  75.        ],
       [101.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  68.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  34.        ],
       [104.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  42.        ],
       [100.76190476,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  75.        ],
       [100.76190476,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  23.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  20.        ],
       [101.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   8.        ],
       [100.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   5.        ],
       [104.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  51.        ],
       [100.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  55.        ],
       [ 98.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  26.        ],
       [ 98.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  31.        ],
       [ 99.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  25.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   1.        ,  69.        ],
       [102.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   5.        ],
       [102.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  64.        ],
       [ 98.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  40.        ],
       [103.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  60.        ],
       [100.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  10.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  64.        ],
       [104.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  16.        ],
       [101.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  42.        ],
       [101.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  49.        ],
       [102.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  69.        ],
       [100.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  47.        ],
       [103.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  69.        ],
       [ 98.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  83.        ],
       [ 98.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  71.        ],
       [104.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   6.        ],
       [100.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  11.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   1.        ,  81.        ],
       [101.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  34.        ],
       [102.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  82.        ]])

In [64]:
pd.DataFrame(X_test_new)

             0    1    2    3    4    5     6
0    99.000000  0.0  1.0  0.0  0.0  1.0  59.0
1   103.000000  1.0  0.0  1.0  0.0  1.0  70.0
2   103.000000  0.0  1.0  0.0  0.0  0.0  73.0
3   102.000000  0.0  1.0  0.0  0.0  1.0  33.0
4   102.000000  1.0  1.0  0.0  0.0  1.0  20.0
5    99.000000  0.0  0.0  0.0  1.0  0.0  14.0
6   104.000000  1.0  0.0  0.0  0.0  0.0  25.0
7   100.761905  1.0  1.0  0.0  0.0  0.0  38.0
8   104.000000  1.0  0.0  0.0  0.0  0.0  51.0
9    98.000000  1.0  0.0  0.0  0.0  0.0  73.0
10  104.000000  0.0  0.0  0.0  0.0  0.0  12.0
11  103.000000  1.0  0.0  0.0  0.0  1.0  46.0
12   98.000000  0.0  0.0  1.0  0.0  1.0  10.0
13  101.000000  1.0  1.0  0.0  0.0  0.0  15.0
14  100.000000  0.0  0.0  1.0  0.0  1.0  13.0
15  101.000000  0.0  0.0  0.0  1.0  0.0  19.0
16  103.000000  0.0  0.0  1.0  0.0  0.0  50.0
17  101.000000  0.0  0.0  0.0  1.0  0.0  65.0
18  101.000000  0.0  1.0  0.0  0.0  0.0  64.0
19  100.000000  1.0  1.0  0.0  0.0  0.0  27.0
20  100.761905  1.0  0.0  1.0  0.0  1.0  79.0
21   99.000000  1.0  0.0  0.0  0.0  0.0  72.0
22  100.000000  0.0  0.0  0.0  0.0  1.0  19.0
23  100.000000  1.0  0.0  0.0  0.0  0.0  80.0
24   98.000000  1.0  0.0  0.0  0.0  1.0  12.0
25  104.000000  0.0  0.0  1.0  0.0  0.0  17.0
26  100.761905  1.0  0.0  1.0  0.0  1.0  71.0
27  100.000000  0.0  0.0  1.0  0.0  0.0  19.0
28   99.000000  1.0  0.0  0.0  0.0  1.0  66.0
29  102.000000  1.0  0.0  0.0  1.0  0.0  74.0