# Part-1

In [1]:
import pandas as pd

In [2]:
!ls

__MACOSX	 so_survey_2019.pdf	    survey_results_schema.csv
README_2019.txt  survey_results_public.csv  Untitled.ipynb

In [319]:
df = pd.read_csv("survey_results_public.csv")

In [320]:
df.head(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [8]:
# Shape is an attribute not method
df.shape

(88883, 85)

In [24]:
# object means string
#df.info()

In [37]:
pd.set_option("display.max_columns",85)

In [38]:
schema_df = pd.read_csv("survey_results_schema.csv")

In [43]:
schema_df

                    Column                                       QuestionText
0               Respondent  Randomized respondent ID number (not in order ...
1               MainBranch  Which of the following options best describes ...
2                 Hobbyist                            Do you code as a hobby?
3              OpenSourcer        How often do you contribute to open source?
4               OpenSource  How do you feel about the quality of open sour...
5               Employment  Which of the following best describes your cur...
6                  Country          In which country do you currently reside?
7                  Student  Are you currently enrolled in a formal, degree...
8                  EdLevel  Which of the following best describes the high...
9           UndergradMajor  What was your main or most important field of ...
10                EduOther  Which of the following types of non-degree edu...
11                 OrgSize  Approximately how many people are employed by ...
12                 DevType  Which of the following describe you? Please se...
13               YearsCode  Including any education, how many years have y...
14              Age1stCode  At what age did you write your first line of c...
15            YearsCodePro  How many years have you coded professionally (...
16               CareerSat  Overall, how satisfied are you with your caree...
17                  JobSat  How satisfied are you with your current job? (...
18                MgrIdiot  How confident are you that your manager knows ...
19                MgrMoney  Do you believe that you need to be a manager t...
20                 MgrWant  Do you want to become a manager yourself in th...
21                 JobSeek  Which of the following best describes your cur...
22            LastHireDate  When was the last time that you took a job wit...
23                 LastInt  In your most recent successful job interview (...
24                FizzBuzz  Have you ever been asked to solve FizzBuzz in ...
25              JobFactors  Imagine that you are deciding between two job ...
26            ResumeUpdate  Think back to the last time you updated your r...
27          CurrencySymbol  Which currency do you use day-to-day? If your ...
28            CurrencyDesc  Which currency do you use day-to-day? If your ...
29               CompTotal  What is your current total compensation (salar...
30                CompFreq   Is that compensation weekly, monthly, or yearly?
31           ConvertedComp  Salary converted to annual USD salaries using ...
32             WorkWeekHrs   On average, how many hours per week do you work?
33                WorkPlan            How structured or planned is your work?
34           WorkChallenge  Of these options, what are your greatest chall...
35              WorkRemote                    How often do you work remotely?
36                 WorkLoc                    Where would you prefer to work?
37                  ImpSyn  For the specific work you do, and the years of...
38                 CodeRev           Do you review code as part of your work?
39              CodeRevHrs  On average, how many hours per week do you spe...
40               UnitTests  Does your company regularly employ unit tests ...
41             PurchaseHow  How does your company make decisions about pur...
42            PurchaseWhat  What level of influence do you, personally, ha...
43      LanguageWorkedWith  Which of the following programming, scripting,...
44  LanguageDesireNextYear  Which of the following programming, scripting,...
45      DatabaseWorkedWith  Which of the following database environments h...
46  DatabaseDesireNextYear  Which of the following database environments h...
47      PlatformWorkedWith  Which of the following platforms have you done...
48  PlatformDesireNextYear  Which of the following platforms have you done...
49      WebFrameWorkedWith  Which of the following web frameworks have you...
50  WebFrameDesireNextYear  Which of the following web frameworks have you...
51      MiscTechWorkedWith  Which of the following other frameworks, libra...
52  MiscTechDesireNextYear  Which of the following other frameworks, libra...
53              DevEnviron  Which development environment(s) do you use re...
54                   OpSys  What is the primary operating system in which ...
55              Containers  How do you use containers (Docker, Open Contai...
56           BlockchainOrg  How is your organization thinking about or imp...
57            BlockchainIs  Blockchain / cryptocurrency technology is prim...
58              BetterLife  Do you think people born today will have a bet...
59                ITperson   Are you the "IT support person" for your family?
60                   OffOn        Have you tried turning it off and on again?
61             SocialMedia        What social media site do you use the most?
62            Extraversion    Do you prefer online chat or IRL conversations?
63              ScreenName                               What do you call it?
64              SOVisit1st  To the best of your memory, when did you first...
65             SOVisitFreq  How frequently would you say you visit Stack O...
66               SOVisitTo  I visit Stack Overflow to... (check all that a...
67            SOFindAnswer  On average, how many times a week do you find ...
68             SOTimeSaved  Think back to the last time you solved a codin...
69           SOHowMuchTime  About how much time did you save? If you're no...
70               SOAccount              Do you have a Stack Overflow account?
71              SOPartFreq  How frequently would you say you participate i...
72                  SOJobs  Have you ever used or visited Stack Overflow J...
73                EntTeams  Have you ever used Stack Overflow for Enterpri...
74                  SOComm  Do you consider yourself a member of the Stack...
75           WelcomeChange  Compared to last year, how welcome do you feel...
76            SONewContent  Would you like to see any of the following on ...
77                     Age  What is your age (in years)? If you prefer not...
78                  Gender  Which of the following do you currently identi...
79                   Trans                    Do you identify as transgender?
80               Sexuality  Which of the following do you currently identi...
81               Ethnicity  Which of the following do you identify as? Ple...
82              Dependents  Do you have any dependents (e.g., children, el...
83            SurveyLength  How do you feel about the length of the survey...
84              SurveyEase  How easy or difficult was this survey to compl...

In [40]:
pd.set_option("display.max_rows",85)

# Part-2

# A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [52]:
people={
    "first":["shivansh","shivam","golu"],
    "last" :["kumar","dey","dey"],
    "email":["shivansh@gmail.com","shivam@gmail.com","golu@gmail.com"]
}
#json format

In [59]:
type(people)

dict

In [60]:
people["email"]

['shivansh@gmail.com', 'shivam@gmail.com', 'golu@gmail.com']

In [57]:
df1=pd.DataFrame(people)

In [64]:
df1

      first   last               email
0  shivansh  kumar  shivansh@gmail.com
1    shivam    dey    shivam@gmail.com
2      golu    dey      golu@gmail.com

In [69]:
df1["email"]

0    shivansh@gmail.com
1      shivam@gmail.com
2        golu@gmail.com
Name: email, dtype: object

In [71]:
type(df1["email"])

pandas.core.series.Series

In [73]:
# df1["email"]
df1.email

0    shivansh@gmail.com
1      shivam@gmail.com
2        golu@gmail.com
Name: email, dtype: object

In [76]:
df1[["first","email"]]

      first               email
0  shivansh  shivansh@gmail.com
1    shivam    shivam@gmail.com
2      golu      golu@gmail.com

In [79]:
df1.columns

Index(['first', 'last', 'email'], dtype='object')

In [82]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

# loc :- Label wise 
# iloc :- Index wise

In [322]:
df1.loc[0:2]

    first   last             email
0    Raju  Kumar    Raju@gmail.com
1  shivam    dey  shivam@gmail.com
2    golu    dey    golu@gmail.com

In [91]:
df1.loc[0:2,["first"]] # Label wise

      first
0  shivansh
1    shivam
2      golu

In [96]:
df1.loc[0:2,["first","last"]]

      first   last
0  shivansh  kumar
1    shivam    dey
2      golu    dey

In [104]:
df1.loc[:,"first":"email"]

      first   last               email
0  shivansh  kumar  shivansh@gmail.com
1    shivam    dey    shivam@gmail.com
2      golu    dey      golu@gmail.com

# iloc

In [323]:
# In iloc last index excluded 
df1.iloc[0:2]

    first   last             email
0    Raju  Kumar    Raju@gmail.com
1  shivam    dey  shivam@gmail.com

In [114]:
df1.iloc[0:2,2] # Index wise

0    shivansh@gmail.com
1      shivam@gmail.com
Name: email, dtype: object

In [121]:
df1.iloc[:,[-1]]

                email
0  shivansh@gmail.com
1    shivam@gmail.com
2      golu@gmail.com

In [117]:
df1.iloc[:,0:-1]

      first   last
0  shivansh  kumar
1    shivam    dey
2      golu    dey

In [129]:
#x=df1.iloc[:,0:-1]
#y=df1.iloc[:,[-1]]

In [134]:
df.head(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [140]:
df["Hobbyist"].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

# Part-3
# Make index to Respomdent

In [156]:
df5=pd.read_csv("survey_results_public.csv",index_col="Respondent")

In [165]:
df5.head(1)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

# Part-4
# FILTERING

In [166]:
df1

      first   last               email
0  shivansh  kumar  shivansh@gmail.com
1    shivam    dey    shivam@gmail.com
2      golu    dey      golu@gmail.com

In [169]:
df1["last"] == "dey"

0    False
1     True
2     True
Name: last, dtype: bool

In [170]:
df1[df1["last"]=="dey"]

    first last             email
1  shivam  dey  shivam@gmail.com
2    golu  dey    golu@gmail.com

In [188]:
filt = (df1["last"]=="dey")

In [193]:
df1.loc[filt]

    first last             email
1  shivam  dey  shivam@gmail.com
2    golu  dey    golu@gmail.com

In [191]:
filt1 = (df1["last"]=="dey") | (df1["first"]=="shivansh")

In [192]:
df1[filt1]

      first   last               email
0  shivansh  kumar  shivansh@gmail.com
1    shivam    dey    shivam@gmail.com
2      golu    dey      golu@gmail.com

In [196]:
df1.loc[filt1,"email"]

0    shivansh@gmail.com
1      shivam@gmail.com
2        golu@gmail.com
Name: email, dtype: object

In [224]:
df.head(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [226]:
high_sal = df["ConvertedComp"]>80000

In [257]:
df.loc[high_sal,["ConvertedComp","Country","LanguageWorkedWith"]]

,ConvertedComp,Country,LanguageWorkedWith
5,366420.0,Canada,Java;R;SQL
8,95179.0,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
12,90000.0,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
15,455352.0,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...
21,103000.0,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
...,...,...,...
88323,180000.0,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...
88324,2000000.0,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...
88325,130000.0,United States,HTML/CSS;JavaScript;Scala;TypeScript
88326,82488.0,Finland,Bash/Shell/PowerShell;C++;Python
88329,588012.0,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python

In [258]:
countries = ["United States","India","United Kingdom","Germeny","Canada"]

In [274]:
# Bool Values
filt = df["Country"].isin(countries)

In [277]:
df.loc[filt,["Country","ConvertedComp","LanguageWorkedWith",]]

,Country,ConvertedComp,LanguageWorkedWith
0,United Kingdom,NaN,HTML/CSS;Java;JavaScript;Python
3,United States,61000.0,C;C++;C#;Python;SQL
5,Canada,366420.0,Java;R;SQL
7,India,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
9,India,13293.0,C#;Go;JavaScript;Python;R;SQL
...,...,...,...
88859,United States,NaN,Go;HTML/CSS
88863,United Kingdom,NaN,C;C++;Other(s):
88864,India,NaN,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript
88877,United States,NaN,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...
88878,Canada,NaN,HTML/CSS;JavaScript;Other(s):

In [280]:
filte = df["LanguageWorkedWith"].str.contains("Python",na=False)

In [288]:
df.loc[filte,["LanguageWorkedWith","ConvertedComp"]]

                                      LanguageWorkedWith  ConvertedComp
0                        HTML/CSS;Java;JavaScript;Python            NaN
1                                    C++;HTML/CSS;Python            NaN
3                                    C;C++;C#;Python;SQL        61000.0
4            C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA            NaN
7      Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...            NaN
...                                                  ...            ...
88854  Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...            NaN
88860    Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):            NaN
88865    Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):            NaN
88872           C;C++;HTML/CSS;JavaScript;PHP;Python;SQL            NaN
88876                         HTML/CSS;JavaScript;Python            NaN

[36443 rows x 2 columns]

# Part-5
# Modifying

In [289]:
df1

      first   last               email
0  shivansh  kumar  shivansh@gmail.com
1    shivam    dey    shivam@gmail.com
2      golu    dey      golu@gmail.com

In [290]:
df1.columns

Index(['first', 'last', 'email'], dtype='object')

In [293]:
df1.columns = ["first_name","last_name","email_id"]

In [301]:
df1

  first_name last_name            email_id
0   shivansh     kumar  shivansh@gmail.com
1     shivam       dey    shivam@gmail.com
2       golu       dey      golu@gmail.com

In [296]:
# Column name convert into UpperCase

In [302]:
df1.columns = [x.upper() for x in df1.columns]

In [303]:
df1

  FIRST_NAME LAST_NAME            EMAIL_ID
0   shivansh     kumar  shivansh@gmail.com
1     shivam       dey    shivam@gmail.com
2       golu       dey      golu@gmail.com

In [304]:
# Rename Columns

In [308]:
df1.rename(columns={"FIRST_NAME":"first","LAST_NAME":"last","EMAIL_ID":"email"},inplace=True)

In [309]:
df1

      first   last               email
0  shivansh  kumar  shivansh@gmail.com
1    shivam    dey    shivam@gmail.com
2      golu    dey      golu@gmail.com

In [314]:
# Replace Column

In [315]:
df1.loc[0]=["Raju","Kumar","Raju@gmail.com"]

In [316]:
df1

    first   last             email
0    Raju  Kumar    Raju@gmail.com
1  shivam    dey  shivam@gmail.com
2    golu    dey    golu@gmail.com